<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AVWX - Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        body { background-color: #e1e2e3; color: #335e9e; }
        nav { background-color: #4f68ae; color: white; padding: 5px; }
        nav a { color: #fefefe; }
        nav .col-xs-auto { padding-right: 15px; padding-left: 15px; }
        .container { background-color: #f5f5f5; }
        .content { padding-top: 15px; padding-bottom: 15px; }
        .btn-primary { background-color: #4f68ae; }
    </style>
    {% block headers %}
    {% endblock %}
</head>

<body>

    <nav class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <h4 class="d-inline"><a href="https://avwx.rest">AVWX</a></h4>
                &nbsp;-&nbsp;
                <h6 class="d-inline"><a href="/">Account Management</a></h6>
            </div>
            <div class="col-xs-auto">
            {% if call_or_get(current_user.is_authenticated) %}
                <a href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username or current_user.email }}</a>
                &nbsp; | &nbsp;
                <a href="{{ url_for('user.logout') }}">Log Out</a>
            {% else %}
                <a href="{{ url_for('user.register') }}">Create Account</a>
                &nbsp; | &nbsp;
                <a href="{{ url_for('user.login') }}">Log In</a>
            {% endif %}
            </div>
        </div>
    </nav>

    <div class='container content'>
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{category}}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>