{% extends 'base.html' %}

{% block content %}
{% if new_plan.price and not current_user.subscription_id %}
    <h1>Plan Signup</h1>
    <p>You're about to sign up for the <b>{{ new_plan.name }}</b> plan for the AVWX REST API. Click the button below to finish.{% if not current_user.customer_id %} Your card will be charged after the 14-day free trial has ended. {% endif %}</p>
    {% if config.ENV == 'development' %}
        <p>Since the app is in development: use the following Stripe card numbers and make up the rest:</p>
        <ul>
            <li>Success: 4242 4242 4242 4242</li>
            <li>Error: 4000 0000 0000 0002</li>
        </ul>
        <p>Check their <a href="https://stripe.com/docs/testing#cards">documentation</a> for a full list of test credit card numbers</p>
    {% endif %}
    <form action="{{ url_for('change', plan=new_plan.key) }}" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_key }}"
            data-image="https://avwx.rest/static/favicons/android-icon-96x96.png"
            data-name="AVWX"
            data-description="{{ new_plan.description }}"
            data-email="{{ current_user.email }}"
            data-amount="{{ new_plan.price * 100 }}"
            data-label="Subscribe to AVWX"
            data-panel-label="Subscribe for ${{ new_plan.price }}/month"
            data-zip-code="true"
            data-allow-remember-me="false"
            data-locale="auto">
        </script>
    </form>
{% else %}
<h1>Change Subscription</h1>
<p>Are you sure you want to {% if new_plan > old_plan %}up{% else %}down{% endif %}grade your plan from <b>{{ old_plan.name }}</b> to <b>{{ new_plan.name }}</b>?</p>
<ul>
    <li>Your monthly charge will {% if new_plan.price %}in{% else %}de{% endif %}crease to <b>${{ new_plan.price }} / month</b></li>
    {% if new_plan.price %}
    <li>Your card will be charged with the new ammount <b>immediately</b></li>
    {% endif %}
    <li>Your API token <b>does not</b> need to be updated</li>
    <li>It may take up to <b>15 minutes</b> for the new plan level to update in the API</li>
</ul>
<form action="{{ url_for('change', plan=new_plan.key) }}" method="POST">
    <input class="btn btn-primary" type="submit" value="Change Subscription">
</form>
{% endif %}
{% endblock %}