{% extends "base.html" %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/plans.css') }}">
<style>
.faq > div {
    padding: 0px 50px;
}
</style>
{% endblock %}

{% block content %}
<br/>
<div class="row text-center">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <h1>AVWX Pricing Guide</h1>
        <h5>METAR and TAF reports are free to pull with additional report types and features available to paid plans</h5>
    </div>
</div>
<br/>
{% include 'include/plans.html' %}
<br/>
<div class="container">
    <div class="row faq">
        <div class="col-md-6">
            <h5>What payment methods are supported?</h5>
            <p>Most major US and international credit cards are accepted. All payments are handled by <a href="https://stripe.com/">Stripe</a>.</p>
        </div>
        <div class="col-md-6">
            <h5>Can I switch my plans after subscribing?</h5>
            <p>You can switch your plan at any time. Your API token does not need to be changed when switching to another plan.</p>
        </div>
        <div class="col-md-6">
            <h5>Do you have any options for open-source projects?</h5>
            <p>I have an open-source plan available which mirrors the free plan but with a higher call limit. If you are the creator or maintainer of a project currently using AVWX, <a href="mailto:avwx@dupont.dev">email me</a> with a link to your project repo.</p>
        </div>
        <div class="col-md-6">
            <h5>What if I need a higher call limit?</h5>
            <p>If you need more than what the Enterprise plan provides, <a href="mailto:avwx@dupont.dev">email me</a> so we can make a custom plan that fits your specific use-case.</p>
        </div>
    </div>
</div>
{% endblock %}