dnspython~=2.0
email-validator~=1.1
flask~=1.1
flask-admin~=1.5
flask-login~=0.5
flask-migrate~=2.5
flask-mongoengine~=0.9
flask-security~=3.0
flask-user~=1.0
mailchimp3~=3.0
gunicorn~=20.0
python-dotenv~=0.14
rollbar~=0.15
stripe~=2.49