dnspython~=1.16
flask~=1.1
flask-admin~=1.5
flask-login~=0.4
flask-migrate~=2.5
flask-mongoengine~=0.9
flask-security~=3.0
flask-user~=1.0
mailchimp3~=3.0
gunicorn~=20.0
python-dotenv~=0.10
rollbar~=0.14
stripe~=2.42