<div class="container">
    <div class="row">
        <section class="col-md-4">
            <div class="plan">
                <header>
                    <h3>Hobby</h3>
                </header>
                <div class="plan-body">
                    <h5><b>Free</b></h5>
                    <ul>
                        <li>Station Info</li>
                        <li>METAR</li>
                        <li>TAF</li>
                    </ul>
                    {% with target='free', level=0 %}
                    {% include 'include/plan_button.html' %}
                    {% endwith %}
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="plan plan-better">
                <header>
                    <h3>Professional</h3>
                </header>
                <div class="plan-body">
                    <h5><b>$10 / month</b></h5>
                    <ul>
                        <li><b>All Hobby features +</b></li>
                        <li>PIREP</li>
                        <li>Multi-station requests</li>
                        <li>Nearest stations</li>
                    </ul>
                    {% with target='pro', level=2 %}
                    {% include 'include/plan_button.html' %}
                    {% endwith %}
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="plan plan-best">
                <header>
                    <h3>Enterprise</h3>
                </header>
                <div class="plan-body">
                    <h5><b>$40 / month</b></h5>
                    <ul>
                        <li><b>All Pro features +</b></li>
                        <li>Priority Support</li>
                    </ul>
                    <div class="text-center">
                        {% with target='enterprise', level=3 %}
                        {% include 'include/plan_button.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>