<div class="container">
    <div class="row">
        <section class="col-md-4">
            <div class="plan">
                <header>
                    <h3>Hobby</h3>
                </header>
                <div class="plan-body">
                    <h5><b>Free</b></h5>
                    <ul>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/station">Station Info</a></li>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/station-search">Station Search</a></li>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/nearest-stations">Nearest stations</a></li>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/metar">METAR</a></li>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/taf">TAF</a></li>
                        <li><b>4k</b> calls per day</li>
                    </ul>
                    {% with target='free', level=0 %}
                    {% include 'include/plan_buttons.html' %}
                    {% endwith %}
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="plan plan-better">
                <header>
                    <h3>Professional</h3>
                </header>
                <div class="plan-body">
                    <h5><b>$10 / month</b></h5>
                    <h6><b>Or $110 / year</b></h6>
                    <ul>
                        <li><b>All Hobby features +</b></li>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/pirep">PIREP</a></li>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/nbm">NBM</a></li>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/gfs">GFS</a></li>
                        <li><a href="https://avwx.docs.apiary.io/#reference/0/multi-station-request">Multi-station requests</a></li>
                        <li><b>50k</b> calls per day</li>
                    </ul>
                    {% with target='pro', level=2 %}
                    {% include 'include/plan_buttons.html' %}
                    {% endwith %}
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="plan plan-best">
                <header>
                    <h3>Enterprise</h3>
                </header>
                <div class="plan-body">
                    <h5><b>$40 / month</b></h5>
                    <h6><b>Or $440 / year</b></h6>
                    <ul>
                        <li><b>All Pro features +</b></li>
                        <li><a href="https://avwxhistory.docs.apiary.io">Historic Reports</a></li>
                        <li>Priority Support</li>
                        <li><b>500k</b> calls per day</li>
                    </ul>
                    <div class="text-center">
                        {% with target='enterprise', level=3 %}
                        {% include 'include/plan_buttons.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>