<div class="text-center">
    {% if plan == target %}
    <a class="btn btn-disabled" href="#">Current Plan</a>
    {% elif not (plan or current_user.customer_id) %}
        {% if target == 'free' %}
        <a class="btn btn-primary" href="{{ url_for('user.register') }}">Sign Up</a>
        {% else %}
        <a class="btn btn-primary" href="{{ url_for('change', plan=target) }}">Start Free Trial</a>
        {% endif %}
    {% else %}
    <a class="btn btn-primary" href="{{ url_for('change', plan=target) }}">{% if plan > level %}Down{% else %}Up{% endif %}grade</a>
    {% endif %}
</div>