<tr>
    <td>
        <a href="{{ url_for('edit_token', value=token.value) }}" title="Edit token metadata"><i class="fas fa-edit"></i></a>
        <a href="{{ url_for('refresh_token', value=token.value) }}" title="Refresh token value"><i class="fas fa-redo"></i></a>
    </td>
    <td>{{ token.name }}</td>
    <td class="center">{% if token.type == "dev" %}<i class="fab fa-dev"></i> {% endif %}{% if token.active %}<i class="far fa-check-circle" style="color: green;"></i>{% else %}<i class="far fa-times-circle" style="color: red;"></i>{% endif %}</td>
    <td>{{ token.value }}</td>    
</tr>