body {
    background-color: #e1e2e3;
    color: #335e9e;
}

nav {
    background-color: #4f68ae;
    color: white; padding: 5px;
}

nav a {
    color: #fefefe;
}

nav .col-xs-auto {
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    background-color: #f5f5f5;
}

.content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-primary {
    background-color: #4f68ae;
    border-color: #4f68ae;
}

.btn-primary:hover {
    background-color: #4d5155;
    border-color: #4d5155;
}

.btn-disabled {
    background-color: #4d5155;
    border-color: #4d5155;
    color: white;
}

.btn-disabled:hover {
    color: white;
}

.btn-danger {
    background-color: white;
    border-color: #BA150C;
    color: #BA150C;
}

.btn-danger:hover {
    background-color: #BA150C;
    border-color: #BA150C;
    color: white;
}

.btn-grid .btn {
    margin: 2px;
}