html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #e1e2e3;
    color: #335e9e;
    position: relative;
    margin: 0;
    padding-bottom: 4.5rem;
    min-height: 100%;
}

nav {
    background-color: #4f68ae;
    color: white; padding: 5px;
}

nav a {
    color: #fefefe;
}

nav .col-xs-auto {
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    background-color: #f5f5f5;
}

.content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-primary {
    background-color: #4f68ae;
    border-color: #4f68ae;
}

.btn-primary:hover {
    background-color: #4d5155;
    border-color: #4d5155;
}

.btn-disabled {
    background-color: #4d5155;
    border-color: #4d5155;
    color: white;
}

.btn-disabled:hover {
    color: white;
}

.btn-danger {
    background-color: white;
    border-color: #BA150C;
    color: #BA150C;
}

.btn-danger:hover {
    background-color: #BA150C;
    border-color: #BA150C;
    color: white;
}

.btn-grid .btn {
    margin: 2px;
}

#token-table {
    border-collapse: collapse;
}

#token-table th, #token-table td {
    border: 1px #4f68ae solid;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#token-table th, #token-table th a {
    background-color: #4f68ae;
    color: white;
}

#token-table td {
    background-color: white;
}

#token-table td a {
    color: #4f68ae;
}

.center {
    text-align: center;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4d5155;
    color: white;
    padding: 10px;
}