.plan {
    border: 1px solid #4d5155;
    border-radius: 5px; color: #4d5155;
    margin-bottom: 15px;
}

.plan header {
    background-color: white;
    border-bottom: 1px solid #4d5155;
    border-radius: 5px 5px 0px 0px;
}

.plan h3 {
    padding: 20px 15px 8px 15px;
}

.plan h5 {
    padding: 10px 20px;
}

.plan a {
    width: 90%
}

.plan-body {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.plan-better {
    border-color: #4d5155;
}

.plan-better header {
    background-color: #4d5155;
    border-color: #4d5155;
    color: white;
}

.plan-best {
    border-color: #4f68ae;
}

.plan-best header {
    background-color: #4f68ae;
    border-color: #4f68ae;
    color: white;
}